.top-bar ul{
  padding-top:5px;
}

.dropdown.menu > li.is-dropdown-submenu-parent > a::after {
    display: block;
    width: 0;
    height: 0;
    border: inset 6px;
    content: '';
    border-bottom-width: 0;
    border-top-style: solid;
    border-color: #ffffff transparent transparent;
    right: 5px;
    margin-top: -3px;
}

.menu-text {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  color: #aefc05;
  line-height: normal;
}

.top-bar {
  height:5vh;
  background-color: #303030;
  height:64px;
  padding: 0px;
  font-family: 'Poiret One', cursive;
}

.top-bar ul {
  background-color: #303030;
}

a:hover {
  color:white;
  background-color:none;
}

li>a {
  text-decoration: none;
  color: white;
  border-top-color:white;
}

a::after {
  border-color:white;
}

.is-drilldown-submenu-parent > a::after {
  border-color:white;
}


$topbar-submenu-background {
  color:white;
  padding-top:10px;
}

a {
  color:white;
}

.full-width {
  max-width: 1400px;
}

.footer1 li{
  list-style-type: none;
}

.footer2 li{
  list-style-type: none;
}

.footer {
  font-family: 'Poiret One', cursive;
  background-color: #242426;
  padding: 2rem 4rem;
  text-align: center;
  color: #fff;
}
.footer i {
  font-family: 'Poiret One', cursive;
  font-size: 100px;
}

.footer h4 {
  font-family: 'Poiret One', cursive;
  color: #fff;
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 2.5rem;
  margin-bottom: 10px;
}
.footer p, .footer a {
  font-weight: 300;
  font-size: .8em;
  color: #fff;
}

.mainhero{
  display:block;
  padding-left:25vw;
  padding-right:25vw;
  padding-top:40vh;
  padding-bottom:30vh;
  height: 100vh;
  width: 100vw;
  background-color: #111111;
  color: white;
 font-family: 'Poiret One', cursive;
  text-align: center;
}

.resumehero img {
  height:100vh;
}
.resumehero{
  padding:0;
  height: 100vh;
  width: 100vw;
  background-color: #111111;
  color: white;
 font-family: 'Poiret One', cursive;
  text-align: center;

}
.achievements {
  padding-left:25vw;
  padding-right:25vw;
  padding-top:25vh;
  padding-bottom:25vh;
  height: 100vh;
  width: 100vw;
  background-color: #111111;
  color: white;
 font-family: 'Poiret One', cursive;
  text-align: left;
}

.achievements h1 {
   font-family: 'Poiret One', cursive;
   font-weight:bold;
}

.me {
  padding-left:25vw;
  padding-right:25vw;
  padding-top:25vh;
  padding-bottom:25vh;
  height: 100vh;
  width: 100vw;
  background-color: #111111;
  color: white;
 font-family: 'Poiret One', cursive;
  text-align: left;
}

.me font {
  color:#ff3f3f;
}

.gallery {
  background-color:#f4df41;
}

.gallery img {
  width:25vw;
}

.gallery-head {
  font-family: 'Open Sans Condensed', sans-serif;
  background-color:#f44242;
  height:65px;
  margin:0px;
  color:white;
  font-size:4.5vh;
}

.achievements h4 {
  font-family: 'Poiret One', cursive;
  color: #e7f740;
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase
}

.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: white;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 0;
}

.hvr-bounce-to-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-to-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f4e841;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-bounce-to-left:hover, .hvr-bounce-to-left:focus, .hvr-bounce-to-left:active {
  color: black;
}
.hvr-bounce-to-left:hover:before, .hvr-bounce-to-left:focus:before, .hvr-bounce-to-left:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.mainhero {
  display:block;
  -webkit-transform: perspective(0px) translateZ(0);
  transform: perspective(0px) translateZ(0);
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.mainhero:hover, .mainhero:focus, .mainhero:active {
  background-color: #f44242;
  color: white;
}

.resumehero {
  display: inline-block;
  -webkit-transform: perspective(0px) translateZ(0);
  transform: perspective(0px) translateZ(0);
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.resumehero:hover, .resumehero:focus, .resumehero:active {
  background-color: #4286f4;
  color: white;
}


.hvr-sink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sink:hover, .hvr-sink:focus, .hvr-sink:active {
  -webkit-transform: translateY(8px);
  transform: translateY(8px);
}

.embedded {
  height:100vh;
  width:50vw;
  padding:0;
}
